.card {
  text-align: center;
  height: auto;
  background-color: #e1edf2;
  border: 1px;
  border-style: solid;
  border-radius: 0.2rem;
}

.card img {
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
  position: absolute;
  background-color: white;
  margin: -0.6rem 6.85rem;
  object-fit: cover;
}

.countryName {
  height: 10rem;
  padding-top: 5rem;
  align-items: center;
  background-color: rgb(197, 197, 240);
  margin: 1rem;
  border-radius: 0.5rem;
}
