@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
  height: 4rem;
}

body {
  margin: 0px;
  background-image: url(./assets/images/greg-rosenke-1TjORT2dLOw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

Nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 1rem 20px;
}

Nav a {
  text-decoration: none;
  padding: 0 15px;
  font-size: 30px;
  color: rgb(207, 203, 203);
}

.active {
  color: whitesmoke;
  border-bottom: 3px solid white;
}

.heroText {
  margin: 10rem 3rem;
  width: 30rem;
  background-color: black;
  border: none;
}

.heroText p {
  color: white;
  background-color: black;
  border: none;
}

.title {
  font-size: 2rem;
  color: whitesmoke;
}

main {
  min-height: calc(81vh - 100px);
  margin: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  background-color: #e1edf2;
}
