@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
  height: 4rem;
}

body {
  margin: 0px;
  background-image: url(./assets/images/greg-rosenke-1TjORT2dLOw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.logo {
  background: -webkit-linear-gradient(rgb(136, 207, 169), rgb(54, 79, 179));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.navLink {
  font-size: 1.5rem;
}

.navLink:active {
  color: whitesmoke;
  border-bottom: 3px solid red;
}

.heroText {
  margin: 10rem 3rem;
  width: 30rem;
  background-color: black;
  border: none;
}

.heroText p {
  color: white;
  background-color: black;
  border: none;
}

.title {
  font-size: 2rem;
  color: whitesmoke;
}

main {
  min-height: calc(81vh - 100px);
  margin: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 100%;
  background-color: #e1edf2;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

footer h3 {
  font-size: 1rem;
}
